@model IEnumerable<QuestionApp.Models.Answers>
@{ QuestionApp.Models.DBContext db = new QuestionApp.Models.DBContext();
    int a = Convert.ToInt32(TempData["class"]);
    var classfinder = db.Class.FirstOrDefault(x => x.ID == a);
    ViewBag.Title = classfinder.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<style>
    td {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        max-width: 200px;
    }

    input {
        border-radius: 25px;
        padding: 7px 14px;
        background-color: transparent;
        border: solid 1px rgba(0, 0, 0, 0.2);
        width: 200px;
        box-sizing: border-box;
        color: #2e2e2e;
        margin-bottom: 5px
    }

    input {
        border-radius: 25px;
        padding: 7px 14px;
        background-color: transparent;
        border: solid 1px rgba(0, 0, 0, 0.2);
        width: 200px;
        box-sizing: border-box;
        color: #2e2e2e;
        margin-bottom: 5px
    }

        input:focus {
            outline: none;
            border-color: #aaa
        }

    select {
        border-radius: 25px;
        padding: 7px 14px;
        background-color: transparent;
        border: solid 1px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        color: #2e2e2e;
        margin-bottom: 5px
    }

    select {
        border-radius: 25px;
        padding: 7px 14px;
        background-color: transparent;
        border: solid 1px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        color: #2e2e2e;
        margin-bottom: 5px
    }

        select:focus {
            outline: none;
            border-color: #aaa
        }
</style>
<div class="row">
    <div class="col-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <table id="datatable" class="table tables table-hover table-sm " style="width: 100%;" role="grid" aria-describedby="scroll_ver_dynamic_hei_info">
                    <thead>
                        <tr>
                            <th class="avatar">Öğrenci Adı</th>
                            <th>Toplam Puan</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Status == "0")
                            {
                                <tr data-toggle="collapse" data-target="#accordion" class="clickable">
                                    @{ var Finder = db.Students.Where(x => x.ID == item.StudentID).FirstOrDefault();}
                                    <td class="serial">@Finder.FirsName @Finder.LastName</td>
                                    <td class="avatar">
                                        @item.TotalPoint
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div> <!-- /.table-stats -->
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    @Scripts.Render("~/bundles/Datatable")
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                "language": {
                    "url": "/Scripts/Turkish.json"
                },
                "dom": ' <"search"f><"bottom"l>rt<"bottom"ip><"clear"><"top"B>',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions:
                        {
                            columns: [0, 1],
                        },
                        text: '<i class="fa fa-file-excel-o"></i>',
                        titleAttr: 'Excel',
                        className: 'btn btn-outline-secondary'
                    },
                    {
                        extend: 'pdfHtml5',
                        pageSize: 'LEGAL',
                        exportOptions:
                        {
                            columns: [0, 1],
                        },
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        titleAttr: 'PDF',
                        className: 'btn btn-outline-secondary'
                    }

                ]
            });
        });
    </script>

}